@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#root {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

button {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 5rem;
    border: none;
    background-color: rgb(17, 59, 68);
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    border-radius: 10px;
    margin-top: 1em;
    letter-spacing: 0.05em;
}

button:hover {
    background-color: rgb(14, 83, 98);
}

.dice {
    display: flex;
    margin: 15px;
    padding: 3em;
    border-radius: 10px;
    height: 70vh;
    width: 35vw;
}

.dot {
    width: 7.5rem;
    height: 7.5rem;
    background-color: black;
    margin: 5px;
    border-radius: 50%;
}

.start {
    background-color: rgb(30, 163, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.one {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.two .dot:nth-of-type(2) {
    align-self: flex-end;
}

.three {
    background-color: mediumseagreen;
    display: flex;
    justify-content: space-between;
}

.three .dot:nth-of-type(2) {
    align-self: center;
}

.three .dot:nth-of-type(3) {
    align-self: flex-end;
}

.four {
    background-color: rgb(255, 24, 74);
    display: flex;
    justify-content: space-between;
}

.four .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five {
    background-color: teal;
    display: flex;
    justify-content: space-between;
}

.five .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.five .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.six {
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-between;
}

.six .dot {
    background-color: white;
}

.six .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.six .center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}